@font-face {
 font-family: "CloisterBlack";
 src: url("../fonts/CloisterBlack.ttf") format("opentype"),
        url("../fonts/CloisterBlack.ttf") format("opentype");
}

/*	GLOBAL CSS	*/
html {

}

body {
	font-size: 1.4rem;
}

h1 {
	font-family: CloisterBlack, sans-serif;
}

h5 {
	text-decoration-line: underline;
    font-size: xx-large;
    font-family: CloisterBlack, sans-serif;
}

input {
	background-color: transparent;
    border: none;
    height: 2.1rem;
}

li:not(.li_item):before{
	content: "- ";
}

li > input {
    font-size: 1.3rem !important;
}

.go_left {
	display: inline-block;
	width: 50%;
	min-height: 240px;
}

.go_right {
	display: inline-block;
	float: right;
	width: 50%;
	min-width: 365px;
}

.material-icons:hover {
	cursor: pointer;
}

.btn {
	background: #80513a;
}

.btn:hover {
	background: #a9694a;
}

.full_width {
	width: 100%;
	display: inline-block;
}

#header {
	background: url(../images/top.jpg);
	background-repeat: no-repeat;
	background-size: 100% 300px;
	height: 300px;
}

#main {
	background: url(../images/mid.jpg);
	background-repeat-x: no-repeat;
	background-size: 100%;
}

#footer {
	background: url(../images/bot.jpg);
	background-repeat: no-repeat;
	background-size: 100% 300px;
	height: 300px;
}

.page {
	margin-right: 36px;
	margin-left: 36px;
	padding-top: 36px;
	padding-bottom: 36px; 
}

#title_global {
	text-align: center;
    margin-top: 86px;
    font-style: italic;
    font-size: 5rem;
}
/*	END GLOBAL CSS	*/

/*	PAGE START CSS	*/
#edit_button, #back_button {
	float: right;
    color: white;
    background: #80513a;
    border-radius: 1em;
    padding: 1rem;
    margin: 32px;
}

#help, #no_help {
	cursor: pointer;
	margin: 32px;
}

#help {
	color: #885c41;
    border-color: #885c41;
}

#no_help {
    color: #885c41;
}
/*	END PAGE START CSS	*/

/*	PAGE PERSO CSS	*/
.caract_input {
	width: 15%;
	min-width: 40px;
	border-bottom: none;
	margin: 0px;
}

#bio {
	display: inline-block;
}

#nom, #name_def {
	text-align: center;
}

.info_avatar {
	width: 50%;
	float: right;
}

.img_avatar {
	width: 50%;
	float: left;
}

#avatar, #avatar_def {
	display: block;
	margin-right: auto;
	margin-left: auto; 
}

#avatar_def {
	cursor: pointer;
}

.input_nbr {
    width: 10%;
    min-width: 40px;
    text-align: center;
}

.info_name_input {
	width: 20%;
    min-width: 55px;
    text-align: center;
}

#new_desc_item {
	width: 55%;
	height: 2rem;
}

#new_name_item {
	width: 35%;
	height: 2rem;
}

#new_nb_item {
	width: 61px;
	height: 2rem;
}

.desc_item {
	width: 55%;
}

.name_item {
	width: 35%;
}

.nb_item {
	width: 53px;
}

.case {
	float: left;
    border: black !important;
    border-width: 2px !important;
    border-style: solid !important;
    height: 2.2rem !important;
    margin-left: -1px;
    text-align: center;
    margin-top: 0.6rem;
}
/*	END PAGE PERSO CSS	*/

/*	PAGE EDIT CSS	*/
.shadow_out {
	box-shadow: inset 0px 0px 5px #353535;
	-webkit-box-shadow: inset 0px 0px 5px #353535;
}

.shadow_in {
	box-shadow: 0px 0px 6px 1px #353535;
	-webkit-box-shadow: 0px 0px 5px #353535;
}
.input_stat {
	width: 40px !important;
	border-bottom: none !important;
	margin: 0px !important;
}

.name_input {
	width: 6rem;
	text-align: center;
}

.desc_input {
	width: 60%;
	text-align: center;
}

.add_button {
	background-color: #80513a;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    margin-top: 0.9rem;
}
/*	END PAGE EDIT CSS	*/

@media all and (max-width: 1150px)
{
	.go_left {
		display: block;
		width: 100%;
	}

	.go_right {
		display: block;
		width: 100%;
		min-width: 365px;
	}

	#new_desc_item {
		width: 45%;
		height: 2rem;
	}

	.desc_item {
		width: 45%;
	}
}