/*	GLOBAL CSS	*/

body {
	background-image: url(../images/background.jpg);
	background-size: 100%;
	margin: 32px;
}

h1 {
	font-family: luminari; 
}

input {
	background-color: transparent;
    border: none;
}

li:before{
	content: "- ";
}

.go_left {
	display: inline-block;
	width: 50%;
}

.go_right {
	display: inline-block;
	float: right;
	width: 50%;
	min-width: 365px;
}

.material-icons:hover {
	cursor: pointer;
}

.btn {
	background: #80513a;
}

.btn:hover {
	background: #a9694a;
}
/*	END GLOBAL CSS	*/

/*	PAGE START CSS	*/
#edit_button, #back_button {
	float: right;
    color: white;
    background: #80513a;
    border-radius: 1em;
    padding: 1rem
}

#start_button {
	margin-top: 20%;
}
/*	END PAGE START CSS	*/

/*	PAGE PERSO CSS	*/
.caract_input {
	width: 15%;
	min-width: 40px;
	border-bottom: none;
	margin: 0px;
}

#bio {
	display: inline-block;
}

#nom, #name_def {
	text-align: center;
}

.info_avatar {
	width: 50%;
	float: right;
}

.img_avatar {
	width: 50%;
	float: left;
}

#avatar {
	float: left;
}

.input_nbr {
    width: 10%;
    min-width: 40px;
}

.info_name_input {
	width: 20%;
    min-width: 55px;
    text-align: center;
}

/*	END PAGE PERSO CSS	*/

/*	PAGE EDIT CSS	*/
.shadow_out {
	box-shadow: inset 0px 0px 5px #353535;
}

.input_stat {
	width: 5% !important;
	border-bottom: none !important;
	margin: 0px !important;
}

.name_input {
	width: 6rem;
	text-align: center;
}

.desc_input {
	width: 60%;
	text-align: center;
}

.add_button {
	background-color: #80513a;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
}
/*	END PAGE EDIT CSS	*/